<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>布局</title>
		<link rel="stylesheet" type="text/css" href="../../css/moudle/main.css"/>
	</head>
	<body bgcolor="burlywood">
		
		<p><h1>Basic Panel</h1></p>
		<a href="basic_panel.html">Basic panel</a>
		<p><h1>Close Panel</h1></p>
		<a href="close_panel.html">Close panel</a>
		<p><h1>Max Min Panel</h1></p>
		<a href="max_min_panel.html">Max min panel</a>
		<p><h1>Drag Panel</h1></p>
		<a href="drag_panel.html">Drag panel</a>
	</body>
</html>
